<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Votes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="data != null">
      <tr *ngFor="let item of data.items">
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
        <td>
          <input class="form-control" [(ngModel)]="item.votes"/>
          <button class="btn btn-default" (click)="onClick_UpVote(item)">Up Vote</button>
          <button class="btn btn-default" (click)="onClick_DownVote(item)">Down Vote</button>
        </td>
      </tr>
    </tbody>
  </table>