<header class="jumbotron hero-spacer">
  <h1>Welcome to TechRadar</h1>
  <p>Visualize the latest trends recommended by the community.</p>
  <p>TechRadar is versatile and can be used in any business to gather inputs from its employees</p>
</header>
<hr>
<div class="row">
  <div class="col-lg-12">
    <h3>Quadrants</h3>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500?text=Techniques" alt="">
      <div class="caption">
        <h3>Techniques</h3>
        <p><b>Techniques</b> include elements of a software development process, such as experience design; and ways of structuring
          software, such as micro-services</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500?text=Tools" alt="">
      <div class="caption">
        <h3>Tools</h3>
        <p><b>Tools</b> which can be: components, such as databases, software development tools, such as versions control systems;
          or more generic categories of tools, such as the notion of polyglot persistence.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500?text=Platforms" alt="">
      <div class="caption">
        <h3>Platforms</h3>
        <p><b>Platforms</b> are things that we build software on top of: mobile technologies like Android, virtual platforms
          like the JVM, or generic kinds of platforms like hybrid clouds.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500?text=Languages%20%26%20Frameworks" alt="">
      <div class="caption">
        <h3>Languages & Frameworks</h3>
        <p></p>
      </div>
    </div>
  </div>
</div>