<header class="jumbotron hero-spacer">
  <h1>Welcome to TechRadar</h1>
  <p>Visualize the latest trends recommended by the community.</p>
  <p>TechRadar is versatile and can be used in any business to gather inputs from it's employees</p>
</header>
<hr>
<div class="row">
  <div class="col-lg-12">
    <h3>Quadrants</h3>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500" alt="">
      <div class="caption">
        <h3>Techniques</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500" alt="">
      <div class="caption">
        <h3>Tools</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500" alt="">
      <div class="caption">
        <h3>Platforms</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 hero-feature">
    <div class="thumbnail">
      <img src="http://placehold.it/800x500" alt="">
      <div class="caption">
        <h3>Languages & Frameworks</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>